html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    text-align: center;
    padding-bottom: 24px;
}
section {
    border-top: 1px solid #222;
    padding: 40px 0 24px 0;
}
h2 {
    margin: 0;
    text-align: center;
}
dl {
    padding: 0 18px;
}
form > div {
    padding: 0 18px;
}
.bases, .cubiertas, .form input{
    display: block;
}
.btns {
    margin-top: 30px;
    text-align: center;
}
table {
    margin-top: 30px;
}
th, td {
    padding: 0 20px;
}