* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

.navbar {
    position: absolute;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #ffffff50;
    backdrop-filter: blur(4px);
}
.nav-links {
    display: flex;
}
.nav-links a {
    color: #777;
    margin: 2px;
    padding: 8px 16px;
    border-radius: 6px;
}
#action a {
    background-color: blue;
    color: #eee;
    margin-left: 16px;
}
#head-title {
    font-size: 32px;
    color: blue;
}