* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

.navbar {
    position: absolute;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #ffffff50;
    backdrop-filter: blur(4px);
}
.nav-links {
    display: flex;
}
.nav-links a {
    color: #777;
    margin: 2px;
    padding: 8px 16px;
    border-radius: 6px;
}
#action a {
    background-color: blue;
    color: #eee;
    margin-left: 16px;
    box-shadow: lightblue 0px 13px 27px -5px, rgba(0, 0, 0, 1) 0px 8px 16px -8px;;
}
#head-title {
    font-size: 32px;
    color: blue;
}
.block {
    height: 90vh;
}
section > div {
    display: flex;
}
.main.content {
    margin-top: 10vh;
}
.main {
    width: 50vw;
}
.main.img {
    height: auto;
}
.main.image {
    transform: scaleX(-1);
    z-index: -1;
}
.footer-block {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-block > img {
    width: auto;
    height: 40%;
}